/* Reset padrão para remover margens e preenchimentos */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: #f0f0f0;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.mobile-screen {
  width: 100vw;
  height: 100vh;
  max-width: 414px;
  max-height: 896px;
  background-color: #4caf50;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  padding: 20px;
  text-align: center;
}

.mobile-screen h1 {
  margin-bottom: 10px;
}

.mobile-screen p {
  font-size: 16px;
}

/* Quadrado maior */
.big-square {
  width: 402px;
  height: 468px;
  background-color: #333;
  position: relative;
  margin-top: 20px;
  border-radius: 10px;
}

/* Quadrados menores */
.small-square {
  width: 80px;
  height: 102px;
  position: absolute;
  background-color: #fff;
  border: 2px solid #000;
  border-radius: 5px;
}

/* IDs individuais para manipulação */
#square-1 {
  background-color: #e57373;
  left: 85px;
  top: 360px;
}

#square-2 {
  background-color: #f06292;
  left: 85px;
  top: 5px;
}

#square-3 {
  background-color: #ba68c8;
  left: 250px;
  top: 360px;
}

#square-4 {
  background-color: #64b5f6;
  left: 250px;
  top: 5px;
}

#square-5 {
  background-color: #4db6ac;
  left: 125px;
  top: 255px;
}

#square-6 {
  background-color: #81c784;
  left: 125px;
  top: 110px;
}

#square-7 {
  background-color: #ffd54f;
  left: 210px;
  top: 255px;
}

#square-8 {
  background-color: #ffb74d;
  left: 210px;
  top: 110px;
}
